
# Created by https://www.gitignore.io/api/cmake
# Edit at https://www.gitignore.io/?templates=cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### VS/VSCode ###
.vs
CMakeSettings.json

### build ###
build/
build*/
out/
libs/

### Compiled cube files
*.cubec
*.so
*.dll
*.dat
*.out
*.deb
*.plt
temp/

# End of https://www.gitignore.io/api/cmake

