[submodule "src/lib/stdlib/regex/tiny-regex-c"]
	path = src/lib/stdlib/regex/tiny-regex-c
	url = git@github.com:kokke/tiny-regex-c.git
[submodule "src/lib/stdlib/bgl/basicgl"]
	path = src/lib/stdlib/bgl/basicgl
	url = git@github.com:AlexanderSilvaB/BasicGL.git
[submodule "src/lib/stdlib/ml/mles"]
	path = src/lib/stdlib/ml/mles
	url = git@github.com:AlexanderSilvaB/mles.git